{% block show_data %}
<div class="container treemap" id="treemap-id"><style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

form {
  position: relative;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;

}
</style>
<form>
  <!--label><input type="radio" name="mode" value="size" checked> Size</label-->
  <!--label><input type="radio" name="mode" value="count"> Count</label-->
</form>
<!--script src="http://d3js.org/d3.v3.min.js"></script-->
<script>

var margin = {top: 40, right: 10, bottom: 10, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(true)
    .value(function(d) { return d.size; });

var div = d3.select("#treemap-id").append("div")
    .style("width", (width + margin.left + margin.right) + "px")
    .style("height", (height + margin.top + margin.bottom) + "px")
    .style("left", margin.left + "px")
    .style("top", margin.top + "px");

    d3.json("/static/treemap/{{ username }}.json", function(error, root) {
  var node = div.datum(root).selectAll(".node")
      .data(treemap.nodes)
    .enter().append("div")
      .attr("class", "node")
      .call(position)
      //.style("background", function(d) { return d.children ? color(d.name) : null; })
      // Random  color ! Oh yeah  
      .style("background", function(d){ return color(Math.random())})
      .text(function(d) { return d.children ? null : d.name; });

 // d3.selectAll("input").on("change", function change() {
 //   var value = this.value === "count"
 //       ? function() { return 1; }
 //       : function(d) { return d.size; };

 //   node
 //       .data(treemap.value(value).nodes)
 //     .transition()
 //       .duration(1500)
 //       .call(position);
 // });
});

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}

</script>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
  <show_datapan class="jiathis_txt">分享到：</span>
<a class="jiathis_button_tools_1"></a>
<a class="jiathis_button_tools_2"></a>
<a class="jiathis_style_button_tools_3"></a>
<a class="jiathis_button_tools_4"></a>
<a href=endblock"http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
  </div>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1347534034316191" charset="utf-8"></script>
  <!-- JiaThis Button END -->
</div>
{% endblock %}
